body{
  padding: 20px;
  font-size: 20px;
}

.nav{
  justify-content: space-between;
  text-decoration: none;
}

.NavLink{
  justify-content: space-between;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
}

.main{
  margin: 5px;
  padding: 5px;
}

.input{
  margin: 20px;
  display: flex;
}

.list{
  padding: 20px 10px;
}

  